@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 14px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      
      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: $soft-bg;
        transform: scale(1.02);
      }

      &.active {
        background-color: $primary-color;
        color: #fff;
        transform: scale(1.02); // Optional, same as hover for consistency
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}

.listItem img {
  width: 15%;
  height: auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
